@import 'primeicons/primeicons.css';
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}
html, body, #app {
  height: 100%;
  background-color: #f9fafa;
  color: #515151;
}
